<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container text-center">
    <div class="card">
            <div class="alert alert-danger m-5" role="alert">
                <strong>{{user}}</strong>
                <br>
        <strong>  tu compra no pudo ser realizada!! </strong>   
        <br> 
       <strong> Intentemos nuevamente!! </strong>    
            </div>
       

    </div>
   <button class="btn btn-success ms-2 my-2" onclick="location.href='/products'">Volver</button>
   </div>
</body>
</html>