
<div class="container">
    <div id="productContainer" class="row text-center">
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="text-center">Agregar Producto</h2>

                <form>
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="code">Código:</label>
                        <input type="text" class="form-control" id="code" name="code" required>
                    </div>

                    <div class="form-group">
                        <label for="price">Precio:</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>

                    <div class="form-group">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" id="stock" name="stock" required>
                    </div>

                    <div class="form-group">
                        <label for="category">Categoría:</label>
                        <input type="text" class="form-control" id="category" name="category" required>
                    </div>

                    <div class="form-group">
                        <label for="thumbnails">thumbnails: ingresar link </label>
                        <input type="text" class="form-control" id="thumbnails" name="thumbnails" multiple>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="boton" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
